PHONE_ID=727605997092548
API_TOKEN=EAAOZBUCrqLhQBOxBd14vdOpx6fieMVwg5KAd4fZCWwpNjoAIC1QRqQFMGqBvkgKSRmZCQwQXYe0fkjY9u4Ih5fc6xl45UgGHdhSV6ofTqw8XjEJeIIgeXruWbuMNEHULBRWsLOd1mc2uBG3Ycz01EHgudpOIdcoqwzfNBx40CTaYPcvZCv2qNBhnnnd66eVvjEZBpRgFwZCZBtfoz03yrBNPVazxBUKeaMlRAwnqOq2VBl8ZCpQZD
API_BASE=https://graph.facebook.com/v18.0
VERIFY_TOKEN=mysecrettoken123
PORT=3000